<div class = "wrapper">
<div class = "first-line">
<h1>Edit</h1>
<nav>
<%= link_to "Dashboard", user_dashboard_index_path(current_user) %>
<%= link_to "Portfolio", user_designs_path(current_user) %>
<%= link_to "Contacts", user_partnerships_path(current_user) %>
<%= link_to "Log Out", logout_path, method: :delete %></br>
</nav>
</div>
<div class = "content">

<%= render partial: 'form' %>
</div>
</div>