<div class = "wrapper">
<div class = "first-line">
<h1><%= @design.name %></h1>
<nav>
<%= link_to "Dashboard", user_dashboard_index_path(current_user) %>
<%= link_to "Portfolio", user_designs_path(current_user) %>
<%= link_to "Contacts", user_partnerships_path(current_user) %>
<%= link_to "Log Out", logout_path, method: :delete %></br>
</nav>
</div>
<div class = "content">

Design No. <strong><%= @design.id %><br><br></strong>
Description: <strong><%= @design.description %><br><br></strong>

<div class = "design image">
    <% @images.each do |image| %>
        <%= link_to image_tag(image.image.url, width: '300', height: 'auto'), user_design_image_path(current_user, @design, image) %>
    <% end %>
</div><br>

<%= link_to "Upload Image", new_user_design_image_path(current_user,@design) %>
<br>
</br><%= link_to "Edit", edit_user_design_path(current_user, @design) %>
</br><%= link_to "Delete", user_design_path(current_user, @design), method: :delete %>
</div>
</div>