<div class = "wrapper">
    <div class = "first-line">
        <h1><%= @contact.company %></h1>
        <nav>
            <%= link_to "Dashboard", user_dashboard_index_path(current_user) %>
            <%= link_to "Portfolio", user_designs_path(current_user) %>
            <%= link_to "Contacts", user_partnerships_path(current_user) %>
            <%= link_to "Log Out", logout_path, method: :delete %>
        </nav>
    </div>

<div class = "content">

Contact Name: <strong><%= @contact.contact_name %></br></strong>

Location: <strong><%= @contact.location %></br></strong>

Phone Number: <strong><%= @contact.phone_number %></br></strong>

E-mail: <strong><%= @contact.email %></br></strong>

Industry: <strong><%= @contact.industry %></br></strong>
</div>
</div>