<%= link_to "Dashboard", admin_dashboard_index_path %>
<%= link_to "All Partnerships", admin_partnerships_path %>
<%= link_to "All Contacts", admin_contacts_path %>
<%= link_to "All Designers", users_path %>
<%= link_to "Log Out", logout_path, method: :delete %>

</br></br>


<h1>Edit Contact:</br></h1>

<%= form_for(([current_user, @contact]), url: admin_contact_path(@contact)) do |f| %>
    <%= f.label :contact_name %>
    <%= f.text_field :contact_name %></br>

    <%= f.label :company %>
    <%= f.text_field :company %></br>

    <%= f.label :location %>
    <%= f.text_field :location %></br>

    <%= f.label :email %>
    <%= f.text_field :email %></br>

    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %></br>

    <%= f.label :industry %>
    <%= f.select :industry, ["Manufacturer", "Retailer", "Buyer"] %></br>

    <%= f.submit %></br>

<% end %>    

