<%= link_to "Dashboard", admin_dashboard_index_path %>
<%= link_to "All Partnerships", admin_partnerships_path %>
<%= link_to "All Contacts", admin_contacts_path %>
<%= link_to "All Designers", users_path %>
<%= link_to "Log Out", logout_path, method: :delete %>

<h1>New Contact</h1>

<%= form_for(([@admin, @contact]), url: admin_contacts_path) do |f|%>
    <%= f.label :company %>
    <%= f.text_field :company %> 

    <%= f.label :contact_name %>
    <%= f.text_field :contact_name %>

    <%= f.label :location %>
    <%= f.text_field :location %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>

    <%= f.label :industry %>
    <%= f.select :industry, ["Manufacturer", "Retailer", "Buyer"] %>

    <%= f.submit %>
<% end %>