<h1>Company: <%= @contact.company %></h1></br>

Contact Name: <%= @contact.contact_name %></br>

Location: <%= @contact.location %></br>

Phone Number: <%= @contact.phone_number %></br>

E-mail: <%= @contact.email %></br>

Industry: <%= @contact.industry %></br>

<%= link_to "Edit Contact", edit_admin_contact_path %>