<h1>Company: <%= @contact.company %></h1>

Contact Name: <%= @contact.contact_name %>

Location: <%= @contact.location %>

Phone Number: <%= @contact.phone_number %>

E-mail: <%= @contact.email %>

Industry: <%= @contact.industry %>