<div class = "wrapper">
<div class = "first-line">


<h1>Designers</h1>
<nav>
<%= link_to "Dashboard", admin_dashboard_index_path %>
<%= link_to "Partnerships", admin_partnerships_path %>
<%= link_to "Contacts", admin_contacts_path %>
<%= link_to "Log Out", logout_path, method: :delete %>
</nav>
</div>
<div class = "content">

<ul>
<% @users.each do |user| %>
    <li>
    <%= link_to "#{user.email} @ #{user.company_name}", admin_user_path(user) %>    
    </li>
<% end %>
</ul>
</div>
</div>