<div class = "wrapper">
<div class = "first-line">

<h1><%= @user.company_name %></h1></br>
<nav>
<%= link_to "Dashboard", admin_dashboard_index_path %>
<%= link_to "Partnerships", admin_partnerships_path %>
<%= link_to "Contacts", admin_contacts_path %>
<%= link_to "Designers", admin_users_path %>
<%= link_to "Log Out", logout_path, method: :delete %>
</nav>
</div>
<div class = "content">

Email: <%= @user.email %></br>

Location: <%= @user.location %></br>

Website: <%= @user.website %></br>

</div>
</div>